{{ define "main" }}
  <div data-pagefind-ignore="all" class="container">
    <main id="content" class="main-content" role="main" >
        <h2>NOTICE (Please read the following notice carefully)</h2>
        <br/>
        This website is openly accessible to Everyone on the Internet, because the purpose of Dataset description pages / DOI landing pages is to be accessible to anyone on the Internet.
        <br/>
        The reason for Dataset description pages / DOI landing pages to be openly accessible to anyone on the Internet, is so that a potential user can learn<br/> 
        1) that a dataset exists,<br/> 
        2) how it can be used, <br/>
        3) why they should bother applying for access, and  how to apply for access.
        <br/>
    

    </main>
    
</div>
{{ end }}
