apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    cert-manager.io/cluster-issuer: {{ .Values.clusterIssuer }}
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/upstream-vhost: {{ .Values.s3Host }}
    nginx.ingress.kubernetes.io/secure-backends: "true"
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
    nginx.ingress.kubernetes.io/rewrite-target: {{ .Values.bucketUrl }}/$1
    nginx.ingress.kubernetes.io/use-regex: "true"
    nginx.ingress.kubernetes.io/app-root: /index.html
    xnginx.ingress.kubernetes.io/upstream-vhost: echo.free.beeceptor.com
  name: my-ingress
  namespace: {{ .Values.namespace }}
spec:
  {{ if .Values.tls }}  
  tls:
  - hosts:
    - "{{ .Values.domainName }}"
    secretName: {{ .Values.secretName }}
{{  end  }}
  rules:
  - host: {{ .Values.domainName }}
    http:
      paths:
      - backend:
          service:
            name: landing-pages-service
            port:
              number: 443
        path: /(.*)
        pathType: ImplementationSpecific
  
