<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

        {{ $metaDescription := "" }}
        {{ if .Description }}
            {{ $metaDescription = .Description }}
        {{ else if .Params.dataset_description }}
            {{ $metaDescription = .Params.dataset_description }}
        {{ else if .Summary }}
            {{ $metaDescription = .Summary | plainify }}
        {{ else if .Site.Params.slogan }}
            {{ $metaDescription = .Site.Params.slogan }}
        {{ else }}
            {{ $metaDescription = .Site.Title }}
        {{ end }}
        {{ $metaDescription = $metaDescription | plainify | truncate 160 }}
    
    {{ if .Params.title }}
    <meta name="title" content="{{ .Params.title }}" />
    <meta property="og:title" content="{{ .Params.title }}" />
    <meta property="twitter:title" content="{{ .Params.title }}" />
    {{ else }}
    <meta name="title" content="{{ .Site.Params.title }}" />
    <meta property="og:title" content="{{ .Site.Params.title }}" />
    <meta property="twitter:title" content="{{ .Site.Params.title }}" />
    {{ end }}

    
    <meta name="keyword"  content="{{ .Site.Params.keyword }}">
    <meta name="description" content="{{ $metaDescription }}">
    <meta property="og:description" content="{{ $metaDescription }}">
    <meta property="twitter:description" content="{{ $metaDescription }}">
    <link rel="shortcut icon" href="{{ "img/favicon.ico" | relURL }}">

    <title data-pagefind-meta="title" >{{ if .Title }}{{ .Title }} | {{ .Site.Params.SEOTitle }}{{ else }}{{ .Site.Params.SEOTitle }}{{ end }}</title>

    <link rel="canonical" href="{{ .RelPermalink }}">

    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">

    <!-- Custom JS -->
    {{ range .Site.Params.custom_js }}
    <script src="{{ . | absURL }}"></script>
    {{ end }}

</head>


