{{- $variable := .Get "variable" -}}
<div data-pagefind-body >
    {{ $data := index .Site.Data.datasets $variable }}
    {{ if $data }}
    <!--Indexing subset of attributes-->
    {{ $stringAttributes := index $data.LANDING_PAGE.ATTRIBUTES.STRING_ATTRIBUTE }}
    {{ $setAttributes := index $data.LANDING_PAGE.ATTRIBUTES.SET_ATTRIBUTE }}
    {{ $numAttributes := index $data.LANDING_PAGE.ATTRIBUTES.NUMERIC_ATTRIBUTE }}
  <!--Header-->
    {{ range $rte := where $stringAttributes "TAG"  "header" }}
    <h2>{{ index $rte "VALUE" }}</h2>
        {{end }}
    <!--Keywords-->
    {{ $rtes := where $setAttributes "TAG" "keywords"}}
    {{range $ty := index $rtes}}
    {{range $er := index .VALUE.STRING_ATTRIBUTE }}
    {{.VALUE}},
    {{end}}
    {{end}}
    <table>
            <tr>
         {{ range $rte := where $stringAttributes "TAG"  "header" }}
         <td>{{ index $rte "VALUE" }}</td>
             {{end }}
         </tr>
        {{ $stringAttributes := index $data.LANDING_PAGE.ATTRIBUTES.STRING_ATTRIBUTE }}
        {{ $filtered := where $stringAttributes "TAG" "!=" "header" }}
        {{ $filtered := where $filtered "TAG" "!=" "rems_link" }}
        {{ range $filtered }}
            <tr>
            <td>{{ replaceRE `(_{1,})` " " .TAG }}</td> 
           <td>{{ .VALUE }}</td>
        </tr>
        
            {{ end }}
        
    </table>
    {{ else }}
        <p>Data for '{{ $variable }}' not found.</p>
    {{ end }}
    
    <h2>Comments</h2>
</div>
